<!-- <!DOCTYPE html>
<html>
<head>
  <title>Ethereum Transaction Form</title>
  <style>
    /* CSS for form alignment */
    label {
      display: block;
      margin-top: 10px;
    }

    input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }

    button {
      margin-top: 10px;
      background-color: #0074cc;
      color: white;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Ethereum Transaction Form</h1>
  <p>Your Recipient ETH address is: <span id="account"><%= account %></span></p>
  <p>Your Schema ID is: <span id="schemaUID"><%= schemaUID %></span></p>
  <p>Your Encoded Data is: <span id="encoded_data"><%= encoded_data %></span></p>

  <form id="transactionForm" action="/submit-transaction" method="post">
    <button type="button" id="submitButton">Submit Transaction</button>
  </form>

  <div id="resultMessage"></div>
  <script>
    const eas = document.getElementById("eas");
    async function requestEASData() {
    try {
      const response = await fetch("/eas", {
        method: "POST", 
      });

      if (response.status === 200) {
        const { hash, uid } = await response.json();
   
        return { hash, uid };
      } else {
        console.error("Error while fetching EAS data.");
        return null;
      }

    } catch (error) {
      console.error("Error during the request:", error);
      return null;
    }
  }

    const submitTransactionButton = document.getElementById("submitButton");

    
    submitTransactionButton.addEventListener("click", async function() {
     
      const formData = new FormData(document.getElementById("transactionForm"));

      // Send the form data to the Express app
      const response = await fetch("/submit-transaction", {
        method: "POST",
        body: formData
      });

      // Display the result message
      if (response.status === 200) {
        document.getElementById("resultMessage").textContent = "Transaction submitted successfully!";



      } else {
        document.getElementById("resultMessage").textContent = "Error submitting the transaction.";
      }
    });
  </script>
</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Ethereum Transaction Form</title>
  <style>
    /* CSS for form alignment */
    label {
      display: block;
      margin-top: 10px;
    }

    input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }

    button {
      margin-top: 10px;
      background-color: #0074cc;
      color: white;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
    }

    #loading {
      display: none;
      text-align: center;
    }

    .GIF {
    display: none;
    text-align: center;
  }

  .green-text {
    color: green;
  }
    #loading-text {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Ethereum Transaction Form</h1>
  <p>Your Recipient ETH address: <span id="account"><%= account %></span></p>
  <p>Your Schema ID: <span id="schemaUID"><%= schemaUID %></span></p>
  <p>Your Encoded Data: <span id="encoded_data" style="overflow-wrap: break-word; word-break: break-all;"><%= encoded_data %></span></p>

  <form id="transactionForm" action="/submit-transaction" method="post">
    <button type="button" id="submitButton">Submit Transaction</button>
  </form>

  <div class="GIF">
    <i class="fa-brands fa-ethereum fa-flip fa-xl"></i>
  </div>

  <div id="loading">
    <p id="loading-text">Loading...</p>
  </div>

  <div id="resultMessage">
    <p id="transactionHash" class="green-text"></p>
    <p id="attestationUID" class="green-text"></p>
  </div>

  <script>
    const eas = document.getElementById("eas");
    async function requestEASData() {
    try {
      const response = await fetch("/eas", {
        method: "POST", 
      });

      if (response.status === 200) {
        const { hash, uid } = await response.json();
   
        return { hash, uid };
      } else {
        console.error("Error while fetching EAS data.");
        return null;
      }

    } catch (error) {
      console.error("Error during the request:", error);
      return null;
    }
  }
    const submitTransactionButton = document.getElementById("submitButton");
    const transactionHashElement = document.getElementById("transactionHash");
    const attestationUIDElement = document.getElementById("attestationUID");
    const loadingElement = document.getElementById("loading");
    const loadingGifElement = document.getElementsByClassName("GIF")[0];
    const loadingTextElement = document.getElementById("loading-text");

    submitTransactionButton.addEventListener("click", async function() {

      const formData = new FormData(document.getElementById("transactionForm"));

      // Send the form data to the Express app
      const response = await fetch("/submit-transaction", {
        method: "POST",
        body: formData
      });

      if (response.status === 200) {
      submitTransactionButton.style.display = "none";
      loadingElement.style.display = "block";
      loadingGifElement.style.display = "block";

        const data = await requestEASData();

        loadingElement.style.display = "none";
        loadingGifElement.style.display = "none";

        if (data.hash && data.uid) {
          transactionHashElement.textContent = `Transaction Hash: ${data.hash}`;
          attestationUIDElement.textContent = `Attestation UID: ${data.uid}`;
        } else {
          transactionHashElement.textContent = "Transaction submitted successfully, but hash and UID are missing.";
          attestationUIDElement.textContent = "";
        }
      } else {
        transactionHashElement.textContent = "Error submitting the transaction.";
        attestationUIDElement.textContent = "";
      }
    });
  </script>
</body>
</html>

